DATA_DIR=C:\projeto_dados_teste

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_VENDAS=vendas-tempo-real-teste

KAFKA_GROUP_OLTP=grupo-consumer-vendas-postgres-teste
KAFKA_GROUP_BRONZE=grupo-consumer-vendas-bronze-teste

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=projeto_vendas_teste
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

BRONZE_MAX_REGISTROS_POR_ARQUIVO=10000